*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #D7C3B8;
}

/*-------- header part start---------- */
.continer{
    width: 100%;
  height: 100px;
  background-color: #07023e;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:400px;
  /* border: 4px solid darkred; */
}
nav{
display:flex;
gap: 20px;

}
header a{
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
      text-shadow: 3px 3px 5px darkred;
    
}
.logo img{
    width: 150px;
    align-items: center;
    justify-content: center;
}
/*----------- header part end ------------*/

/*------------- main part start--------- */

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-box {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 800px;
    height: 500px;
    background-color: #07023e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    border-radius: 10px;
     
}

.text {
    width: 50%;
    color: white;
}

.text h1 {
    font-size: 40px;
    margin-bottom: 20px;
      text-shadow: 3px 3px 5px darkred;
}

.text p {
    font-size: 18px;
    line-height: 1.6;
    text-shadow: 5px 5px 4px darkred;
}

.pictur {
    width: 40%;
    display: flex;
    justify-content: center;
}

.pictur img {
    width: 250px;
    border: 5px solid darkred;
    object-fit: cover;
    border-radius: 30px;
}